<%- include('header.ejs', locals) %>
<h1><%= package.name %></h1>

<p>Version <%- (function() {
  var v = package.version
  if (HEAD)
    v += ' (<a href="https://github.com/isaacs/npm-www/tree/' + HEAD
      + '">' + HEAD.substr(0,6) + '</a>)'
  return v
})()%></p>

<p>This site reflects the data in the 
npm registry at <%= npm.registry %>, available in a couchdb
living at <%= registryCouch %>.</p>

<p>Using the following packages:</p>
<ul>
<% Object.keys(package.dependencies).forEach(function (d) {
  var u = "/package/" + d
  var n = d + "@" + package.dependencies[d]
  %><li><a href="<%= u %>"><%= n %></a></li>
  <%
}) %>
</ul>

<p>Running on <a href="http://nodejs.org/">Node.js</a>, version
<%= process.version %>.</p>

<h2>Thanks</h2>

<p><a href="https://github.com/isaacs/npm-www">Patches welcome!</a></p>

<p>The following people have helped with this project:</p>
<ul><%
  contributors.trim().split('\n').slice(2).forEach(function (c) {
    %><li><%= c.split('<')[0] %></li>
    <%
  })
%></ul>
<%- include('footer.ejs', locals) %>
