<%- include('header.ejs', locals) %>
<h1>Node Packaged Modules</h1>

<p>Total Packages: <%= totalPackages %></p>
<p>Downloads in the last month: <%= JSON.stringify(downloads) %></p>

<p><a href="https://github.com/isaacs/npm-www">Patches welcome!</a></p>

<p>Any package can be installed by using <code>
  <a href="/doc/install.html">npm install</a></code>.</p>

<p>Add your programs to this index by using <code>
  <a href="/doc/publish.html">npm publish</a></code>.</p>

<!-- tables fer layout omigosh! whatever, it works. -->
<table style="width:100%" border=0 cellpadding=0 cellspacing=0>
<tr>

  <td>
    <h2>Recently Updated</h2>
    <ul>
      <%
      var now = Date.now()
      updated.forEach(function (p) {
        var m = now - (new Date(p.value).getTime())
        m = Math.floor(m / (1000 * 60))
        %><li><%= m %>m <a href="<%= p.url %>"><%= p.name %></a></li>
        <%
      })
      %>
      <li><a href="/browse/updated">More...</a></li>
    </ul>
  </td>

  <td>
    <h2>Most Depended Upon</h2>
    <ul>
      <%
      depended.forEach(function (p) {
        %><li><%= p.value %> <a href="/package/<%= p.name
          %>"><%= p.name %></a></li>
        <%
      })
      %>
      <li><a href="/browse/depended">More...</a></li>
    </ul>
  </td>

</tr>
<tr>

  <td>
    <h2>Most Starred</h2>
    <ul>
      <%
      starred.forEach(function (p) {
        %><li><%= p.value %> <a href="/package/<%= p.name
        %>"><%= p.name %></a></li>
        <%
      })
      %>
      <li><a href="/browse/star">More...</a></li>
    </ul>
  </td>

  <td>
    <h2>Most Prolific Authors</h2>
    <ul>
      <%
      authors.forEach(function (p) {
        %><li><%= p.value %> <a href="/profile/<%= p.name
        %>"><%= p.name %></a></li>
        <%
      })
      %>
      <li><a href="/browse/author">More...</a></li>
    </ul>
  </td>

</tr>
<tr>

  <td>
    <h2>npm Stuff</h2>
    <ul>
      <li><a href="/doc/faq.html">FAQ</a></li>
      <li><a href="/doc/README.html">Readme</a></li>
      <li><a href="/doc/disputes.html">Handling Disputes</a></li>
      <li><a href="https://github.com/isaacs/npm/issues">npm Bugs</a></li>
      <li><a href="https://github.com/isaacs/npm-www/issues">Website Bugs</a></li>
      <li><a href="https://groups.google.com/group/npm-">Mailing List</a></li>
      <li><a href="/about">More about this site</a></li>
    </ul>
  </td>

  <td>
    <h2>Profile Stuff</h2>

    <ul>
      <li><a href="/signup">Create a profile</a></li>
      <li><a href="/profile">View your profile</a></li>
      <li><a href="/profile/ry">View someone else's profile</a></li>
      <li><a href="/profile-edit">Edit your profile</a></li>
      <li><a href="/password">Change your password</a></li>
      <li><a href="/forgot">Reset a forgotten password</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </td>

</tr>
</table>

<%- include('footer.ejs', locals) %>
