<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Results for &quot;<%= keyword %>&quot;</title>
  <link type="text/css" rel="stylesheet" media="all" href="/static/normalize.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/stylus/index.css" />
  <body>

  <%- include('nav.ejs') %>

    <div id="page">

      <header>
        <form>
          <input type="search" placeholder="Search Packages" />
        </form>
        <h1>npm</h1>
      </header>

      <div id="package">
        <h1>Keyword: &quot;<%= keyword %>&quot;</h1>
        <% if (packages.length) { %>
          <p class="description"><%- packages.length %> packages found.</p>
          <div class="row"><%- packages.map(function(obj) { return '<a href="/package/' + obj.key[1] + '">' + obj.key[1] + '</a>' }).join('</div><div class="row">') %>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
