<div id="package">
  <h1><%= package.name %></h1>
  <p class="description"><%= package.description || 'No description' %></p>

  <table class="metadata">
    <% if (package.author) { %>
    <tr>
      <th>Author:</th>
      <td class="with-avatar">
        <% if (package.author.avatar) { %>
        <img src="<%= package.author.avatar %>" class="avatar">
        <% } %>
        <%= package.author.name %>
      </td>
    </tr>
    <% } %>
    <tr>
      <th>Version:</th>
      <td><%= package.version %></td>
    </tr>
    <% if (package.keywords) { %>
    <tr>
      <th>Keywords:</th>
      <td><%-
        package.keywords.map(function (kw) {
        kw = kw.replace(/</g, '&lt;').replace(/"/g, '&quot;')
        return '<a href="/keyword/' + kw + '">' + kw + '</a>'
        }).join(', ')
        %></td>
    </tr>
    <% } %>
    <% if (package.repository) { %>
    <tr>
      <th>Repository:</td>
      <td>
        <%= package.repository.url %> (<%= package.repository.type %>)
      </td>
      <% } %>
      <% if (package.bugs) { %>
      <tr>
        <th>Bugs:</td>
        <td>
          <a href="<%= package.bugs.url %>"><%= package.bugs.url %></a>
        </td>
        <% } %>
        <tr>
          <th>Dependencies:</th>
          <td>
            <%-
            Object.keys(package.dependencies || {}).map(function(pkg) {
            return '<a href="/package/' + pkg + '">' + pkg + '</a>'
            }).join(', ') || 'None'
            %>
          </td>
        </tr>
        <% if (package.dependents) { %>
        <tr>
          <th>Dependents:</th>
          <td>
          </td>
        </tr>
        <% } %>
        <% if (package.users) { %>
        <tr>
          <th>Starred by:</th>
          <td>
            <%= package.users %>
          </td>
        </tr>
        <% } %>
      </table>

      <div class="details">
        <ul class="toc">
          <% if (package.readme) { %>
          <li><a href="#readme">Read Me</a></li>
          <% } %>
        </ul>

        <% if (package.readme) { %>
        <section id="readme">
        <%- package.readme %>
        </section>
        <% } %>
      </div>
    </div>
  </div>
</div>
