<%- include('header.ejs', locals) %>

<div id="package">
  <h1><%= package.name %></h1>
  <p class="description"><%= package.description || 'No description' %></p>

  <table class="metadata">
    <% if (package.maintainers) { %>
    <tr>
      <th>Maintainers:</th>
      <td>
      <%
      package.maintainers.forEach(function (m) {
        %>
        <div class="user">
          <% if (m.avatar) { %>
          <img src="<%= m.avatar %>" class="avatar">
          <% } %>
          <a class="username" href="/profile/<%= m.name %>"><%= m.name %></a>
        </div>
        <%
      })
      %>
      </td>
    </tr>
    <% } %>
    <tr>
      <th>Version:</th>
      <td>
        <b>
        <%= package.version %>
        </b>
        <% if (package.fromNow) { %>
        last updated
        <%= package.fromNow %>
        <% } %>
      </td>
    </tr>
    <% if (package.keywords) { %>
    <tr>
      <th>Keywords:</th>
      <td><%-
        package.keywords.map(function (kw) {
          kw = kw.replace(/</g, '&lt;').replace(/"/g, '&quot;')
          return '<a href="/browse/keyword/' + kw + '">' + kw + '</a>'
        }).join(', ')
        %></td>
    </tr>
    <% } %>
    <% if (package.repository) { %>
    <tr>
      <th>Repository:</td>
      <td>
        <%= package.repository.url %> (<%= package.repository.type %>)
      </td>
      <% } %>
      <% if (package.bugs) { %>
      <tr>
        <th>Bugs:</td>
        <td>
          <a href="<%= package.bugs.url %>"><%= package.bugs.url %></a>
        </td>
        <% } %>
        <tr>
          <th>Dependencies:</th>
          <td>
            <%-
            Object.keys(package.dependencies || {}).map(function(pkg) {
            return '<a href="/package/' + pkg + '">' + pkg + '</a>'
            }).join(', ') || 'None'
            %>
          </td>
        </tr>
        <%
        var dependents = package.dependents
        if (dependents && dependents.length) { %>
        <tr>
          <th>Dependents:</th>
          <td>
          <%
          var l = dependents.length
          var max = 20
          if (l > max) {
            // get a random assortment each time.
            var dependents = dependents.sort(function (a, b) {
              return Math.random() * 2 - 1
            }).slice(0, max)
            dependents.push({
              url: '/browse/depended/' + package.name,
              name: '<br>and ' + (l-max) + ' more'
            })
          }
          dependents.forEach(function (d, i) {
            if (i > 0) { %>, <% }
            %><a href="<%= d.url %>"><%- d.name %></a><%
          })
          %>
          </td>
        </tr>
        <% } %>
        <% if (package.users) { %>
        <tr>
          <th>Starred by:</th>
          <td>
            <%
            var starredBy = package.starredBy
            var l = starredBy.length
            var max = 20
            if (l > max) {
              starredBy = starredBy.sort(function (a, b) {
                return Math.random() * 2 - 1
              }).slice(0, max)
            }
            starredBy.forEach(function (user, i) {
              if (i > 0) { %>, <% }
              %><a href="/browse/userstar/<%= user %>"><%= user %></a><%
            })
            if (l > max) {
              %><br><a href="/browse/star/<%= package.name %>">and
              <%= (l-max) %> more</a><%
            }
            %>
          </td>
        </tr>
        <% } %>
      </table>

      <div class="details">
        <ul class="toc">
          <% if (package.readme) { %>
          <li><a href="#readme">Read Me</a></li>
          <% } %>
        </ul>

        <% if (package.readme) { %>
        <section id="readme">
        <%- package.readme %>
        </section>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('footer.ejs', locals) %>
