<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= package.name %> – npm module</title>
  <link type="text/css" rel="stylesheet" media="all" href="/static/normalize.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/stylus/index.css" />
  <body>

  <%- include('nav.ejs') %>
  <%- include('login-aside.ejs', locals) %>

    <div id="page">

      <header>
        <form>
          <input type="search" placeholder="Search Packages" />
        </form>
        <h1>npm</h1>
      </header>

      <div id="package">
        <h1><%= package.name %></h1>
        <p class="description"><%= package.description || 'No description' %></p>

        <table class="metadata">
          <tr>
            <th>Author:</th>
            <% if (package.author) { %>
              <td class="with-avatar">
                <img src="<%= gravatar(package.author.email) %>" class="avatar" />
                <%= package.author.name %>
              </td>
            <% } else { %>
              <td>None</td>
            <% } %>
          </tr>
          <tr>
            <th>Version:</th>
            <td><%= package.version %></td>
          </tr>
          <% if (package.tags) { %>
            <tr>
              <th>Tags:</th>
              <td><%- package.tags.map(function(tag) { return '<a href="/tags/' + tag + '">' + tag + '</a>' }).join(', ') %></td>
            </tr>
          <% } %>
          <% if (package.repository) { %>
            <tr>
              <th>Repository:</td>
              <td>
                <%= package.repository.url %> (<%= package.repository.type %>)
              </td>
          <% } %>
          <% if (package.bugs) { %>
            <tr>
              <th>Bugs:</td>
              <td>
                <a href="<%= package.bugs.url %>"><%= package.bugs.url %></a>
              </td>
          <% } %>
          <tr>
            <th>Dependencies:</th>
            <td>
              <%-
              Object.keys(package.dependencies || {}).map(function(pkg) {
                return '<a href="/package/' + pkg + '">' + pkg + '</a>'
              }).join(', ') || 'None'
              %>
            </td>
          </tr>
          <% if (package.dependents) { %>
            <tr>
              <th>Dependents:</th>
              <td>
              </td>
            </tr>
          <% } %>
          <% if (package.users) { %>
            <tr>
              <th>Starred by:</th>
              <td>
                <%= package.users %>
              </td>
            </tr>
          <% } %>
        </table>

        <div class="details">
          <ul class="toc">
            <% if (package.readme) { %>
              <li><a href="#readme">Read Me</a></li>
            <% } %>
          </ul>

          <% if (package.readme) { %>
            <section id="readme">
              <%- marked.parse(package.readme) %>
            </section>
          <% } %>
        <div>
      </div>
    </div>
  </body>
</html>
