<%- include('header.ejs', locals) %>
<h1>Found multiple usernames</h1>

<div>Please choose a username</div>

<form method="post">
  <fieldset>
    <label for="names">Usernames</label>
    <select name="selected_name">
<%
users.forEach(function (user) {
  %>
    <option value="<%= user %>"><%= user %></option>
  <%
})
%>
    </select>
  </fieldset>
  <fieldset class="buttons">
    <button class=btn type=submit>Choose</button>
  </fieldset>
<%- csrf %>
</form>
<%- include('footer.ejs', locals) %>
