<%- include('header.ejs', locals) %>
<h1>Found multiple usernames</h1>

<p>
  <a href=/profile-edit>Edit Profile</a> -
  <a href=/email-edit>Edit Email Address</a> -
  <a href=/password>Change Password</a>
</p>

<p>Please choose a username:</p>

<form method="post">
  <fieldset>
    <label for="names">Usernames</label>
    <select name="selected_name" id="names">
<%
users.forEach(function (user) {
  %>
    <option value="<%= user %>"><%= user %></option>
  <%
})
%>
    </select>
  </fieldset>
  <fieldset class="buttons">
    <button class=btn type=submit>Choose</button>
  </fieldset>
<%- csrf %>
</form>
<%- include('footer.ejs', locals) %>
