<%- include('header.ejs', locals) %>

<h1>Change Password</h1>

<p>
  <a href=/profile-edit>Edit Profile</a> -
  <a href=/email-edit>Edit Email Address</a> -
  <a href=/forgot>Forgot Password</a>
</p>

<%
if (error) {
  %><p>There was a problem!  The server said: <%= error %></p><%
}
%>

<form method=post>
<input type=hidden name=password_sha value="<%= profile.password_sha %>">
<fieldset>
<label for=current>Current Password</label>
<input id=current name=current type=password>
</fieldset>

<fieldset>
<label for=new>New Password</label>
<input id=new name=new type=password>
<p class='form-help'>Please choose something long and memorable</p>
</fieldset>

<fieldset>
<label for=verify>Verify Password</label>
<input id=verify name=verify type=password>
</fieldset>

<fieldset class=buttons>
	<button class=btn type=submit>Make it so.</button>
</fieldset>
<%- csrf %>
</form>
<%- include('footer.ejs', locals) %>
