<%- include('header.ejs', locals) %>
  <h1><%= showprofile.name %></h1>
  <%
  if (showprofile.isSelf) {
    %>
    <p>This is your profile.
      <a href=/profile-edit>Edit Profile</a>
      <a href=/password>Change Password</a></p>
    <%
  }
  %>


<table width="100%">
<%
Object.keys(fields).forEach(function (f) {
  %>
  <tr>
    <th><%= fields[f] %></th>
    <td><%= showprofile[f] || '' %></td>
  </tr>
  <%
})
%>
</table>

<% if (packages && packages.length) {
  %><h2>Packages by <%= showprofile.name %></h2>
  <ul><%
  var l = packages.length;
  var max = 20;
  if (l > max) {
    // get a random assortment each time.
    packages = packages.sort(function (a, b) {
      return Math.random() * 2 - 1
    }).slice(0, max)
    packages.push({
      url: '/browse/author/' + showprofile.name,
      name: 'and ' + (l-max) + ' more',
      description: ''
    })
  }
  packages.forEach(function (d, i) {
    %><li><a href="<%= d.url %>"><%= d.name %></a>
      <%= d.description %></li><%
  })
  %></ul><%
}
%>


<% if (starred && starred.length) {
  %>
  <h2>Packages Starred by <%= showprofile.name %></h2>
  <ul>
  <%
  var l = starred.length;
  var max = 20;
  if (l > max) {
    // get a random assortment each time.
    starred = starred.sort(function (a, b) {
      return Math.random() * 2 - 1
    }).slice(0, max)
    starred.push({
      url: '/browse/userstar/' + showprofile.name,
      name: 'and ' + (l-max) + ' more',
      description: ''
    })
  }
  starred.forEach(function (d, i) {
    %><li><a href="<%= d.url %>"><%= d.name %></a>
      <%= d.description %></li><%
  })
  %></ul><%
}
%>

<% if (profile) {
  %>
  <a href='/logout/?done=/profile/<%= showprofile.name %>'>log out</a>
  <%
}
%>
<%- include('footer.ejs', locals) %>
