<%- include('header.ejs', locals) %>
  <h1><%= showprofile.name %></h1>
  <%
  if (showprofile.isSelf) {
    %>
    <p>This is your profile.
      <a href=/profile-edit>Edit Profile</a>
      <a href=/password>Change Password</a></p>
    <%
  }
  %>


<table width="100%">
<%
Object.keys(fields).forEach(function (f) {
  %>
  <tr>
    <th><%= fields[f] %></th>
    <td><%= showprofile[f] || '' %></td>
  </tr>
  <%
})
%>
</table>

<% if (profile) {
  %>
  <a href='/logout/?done=/profile/<%= showprofile.name %>'>log out</a>
  <%
}
%>
<%- include('footer.ejs', locals) %>
