<%- include('header.ejs', locals) %>
<h1>Edit your Profile</h1>

<p><a href=/password>Change your Password</a></p>

<form method=post action=/profile-edit>
  <input type=hidden name=_id value="<%= profile._id %>">
  <input type=hidden name=name value="<%= profile.name %>">
  <table width=100%>
<%
Object.keys(fields).forEach(function (f) {
  %>
  <tr>
    <th><label for="<%= f %>"><%= fields[f] %></label></th>
    <td><input style="display:block;width:100%;"
      id="<%= f %>" name="<%= f %>" value="<%= profile[f] || '' %>"></td>
  </tr>
  <%
})
%>
  </table>

<input type=submit value=Save>
</form>

<a href='/logout/?done=/profile/<%= profile.name %>'>log out</a>
<%- include('footer.ejs', locals) %>
