<!doctype html>
<html>

  <script>console.log(<%- JSON.stringify(profile, null, 2) %>)</script>

<h1>Edit your Profile</h1>

<p><a href=/password>Change your Password</a></p>

<form method=post action=/profile/_edit>
  <input type=hidden name=_id value="<%= profile._id %>">
  <input type=hidden name=name value="<%= profile.name %>">
<%
Object.keys(fields).forEach(function (f) {
  %>
  <fieldset>
    <label for="<%= f %>"><%= fields[f] %></label>
    <input id="<%= f %>" name="<%= f %>" value="<%= profile[f] || '' %>">
  </fieldset>
  <%
})
%>

<input type=submit value=Save>
</form>

<a href='/logout/?done=/profile/<%= profile.name %>'>log out</a>
</body></html>
