<%- include('header.ejs', locals) %>
<h1>Edit your Profile</h1>

<p><a href=/password>Change your Password</a></p>

<form method=post action=/profile-edit>
  <input type=hidden name=_id value="<%= profile._id %>">
  <input type=hidden name=name value="<%= profile.name %>">
<%
Object.keys(fields).forEach(function (f) {
  %>
  <fieldset>
    <label for="<%= f %>"><%= fields[f] %></label>
    <input id="<%= f %>" name="<%= f %>" value="<%= profile[f] || '' %>">
  </fieldset>
  <%
})
%>

  <fieldset class=buttons>
    <button class=btn type=submit>Save</button>
  </fieldset>
</form>

<%- include('footer.ejs', locals) %>
