<%- include('header.ejs', locals) %>
<h1>Edit your Profile</h1>

<p>
  <a href=/email-edit>Edit Email Address</a> -
  <a href=/password>Change Password</a> -
  <a href=/forgot>Forgot Password</a>
</p>

<% if (error) { %>
  <p class="error"><%- error %></p>
<% } %>

<form method=post action=/profile-edit>
  <input type=hidden name=_id value="<%= profile._id %>">
  <input type=hidden name=name value="<%= profile.name %>">
<%
fields.forEach(function (field) {
  if (field.name === 'email') {
    %>
    <fieldset>
      <a href="/email-edit" class="email-label"><%= field.title %></a>
      <a href="/email-edit" class="email-field">
        <input id="<%= field.name %>" name="<% field.name %>"
          value="<%= field.value %>" disabled=disabled>
      </a>
    </fieldset>
    <%
  } else {
    %>
    <fieldset>
      <label for="<%= field.name %>"><%= field.title %></label>
      <input id="<%= field.name %>" name="<%= field.name %>"
        value="<%= field.value %>">
    </fieldset>
    <%
  }
})
%>

  <fieldset class=buttons>
    <button class=btn type=submit>Save</button>
  </fieldset>
<%- csrf %>
</form>

<%- include('footer.ejs', locals) %>
