<%- include('header.ejs', locals) %>
<h1>Edit your Profile</h1>

<p><a href=/password>Change your Password</a></p>

<form method=post action=/profile-edit>
  <input type=hidden name=_id value="<%= profile._id %>">
  <input type=hidden name=name value="<%= profile.name %>">
<%
fields.forEach(function (field) {
  %>
  <fieldset>
    <label for="<%= field.name %>"><%= field.title %></label>
    <input id="<%= field.name %>" name="<%= field.name %>"
      value="<%= field.value %>">
  </fieldset>
  <%
})
%>

  <fieldset class=buttons>
    <button class=btn type=submit>Save</button>
  </fieldset>
</form>

<%- include('footer.ejs', locals) %>
