<%- include('header.ejs', locals) %>
<h1>Search Results</h1>

<% if (hits && hits.total > 0) {%>
<ul class="search-results">
  <% hits.hits.forEach(function(hit) { %>
  <li class="search-result package">
    <h2><a href="/package/<%= hit.fields.name %>"><%= hit.fields.name %></a></h2>
    <p>
      version <%= hit.fields.version %> by
      <a href="/~<%= hit.fields.author %>"><%= hit.fields.author %></a>
    </p>
    <p><%= hit.fields.description %></p>
      <% if (hit.fields.keywords.length) { %>
      keywords: <ul class="keywords">
        <% hit.fields.keywords.forEach(function(keyword, idx) { %>
          <li>
            <a href="/search?q=keywords:<%= keyword %>"><%= keyword %></a><% if(idx<hit.fields.keywords.length-1) { %>, <% } %>
          </li>
        <% }) %>
      </ul>
      <% } %>

    </p>
  </li>
  <% }); %>
</ul>

<p class="description">
  <% if (page > 2) { %>
    <a href="/search?q=<%= q %>&page=<%= page - 1 %>">&larr; previous</a>
  <% }  else if (page === 2) { %>
    <a href="/search?q=<%= q %>">&larr; previous</a>
  <% } %>
  Page <%= page %>
  <% if (hits.total >= (pageSize*(page-1) + pageSize)) { %>
    <a href="/search?q=<%= q %>&page=<%= page + 1 %>">next &rarr;</a>
  <% } %>
</p>

<% } else { %>
  No results!
<% } %>


<%- include('footer.ejs', locals) %>
